@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom.css */
.nav-item {
  position: relative;
  padding-bottom: 5px;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #FFC017; 
  left: 0; /* start from left*/
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
  left: auto;
  right: 0; /* move to right */
}



  